#acme_app.ini setup file 

#Free diskspace on /
slash_freespace=<%= @free_space %>

#The FQDN of the host 
hosname=<%= @hostname %>

#A list of packages that the app needs to run 

packages=[
<% @package_list.each do |package_lists| -%>
    <% package_lists.each do |lista| -%>
     <%= lista['name'] %>
   <% end -%>
<% end -%>
]
